$overlay-color: rgba(0 0 0 / 60%);
$bg-color: #e8e8ea;
$background-primary: #e0e5ec;
$background-secondary: #babec3;
$text-primary: #a3a7ae;
$text-secondary: #686868;
$text-accent: #333;
$text-black: #000000;
$text-gray: #86898e;
$white-color: #ffffff;